:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --background-color: #ffffff;
  --background-items: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo-color {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 452px;
}
.menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.menu-item {
}
.list-address {
  display: flex;
  gap: 40px;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
  text-decoration: underline;
  color: var(--hover-color);
}

.list-address-link {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.tel-mail {
  font-style: normal;
}
.list-address-link:hover,
.list-address-link:focus {
  color: var(--hover-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.button-filters {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-items);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.button-filters:hover,
.button-filters:focus {
  color: var(--background-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
}
.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}
.project-cards-item {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 3 * 24) / 4);
  flex-shrink: 0;
}
.project-cards-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.project-cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.hero {
  background-color: var(--primary-color);
  flex-shrink: 0;
  padding: 188px 0;
}
.tittle {
  display: flex;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--accent-color);
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button:hover,
.cta-button:focus {
  color: var(--background-color);
  background-color: var(--hover-color);
}
.benefits {
  padding: 120px 0;
}
.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.benefits-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 3 * 24px) / 4);
}
.what-are-we-doing {
  padding-bottom: 120px;
}
.our-job {
  margin-bottom: 72px;
}
.our-job-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.our-job-item {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 2 * 24) / 3;
}
.our-job,
.our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
}

.our-team {
  margin-bottom: 72px;
}
.team {
  background-color: var(--background-items);
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.name-position {
  padding: 32px 0;
}
.team-member {
  background-color: var(--background-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 3 * 24) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.worker-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 8px;
}
.work-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-footer {
  padding: 100px 0;
  background-color: var(--primary-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-items);
  width: 264px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
}
.logo-color-footer {
  font-family: "Raleway", sans-serif;
  color: var(--background-items);
}
